:root {
  --accentcolor1: #3D5A80;
  --accentcolor1-darker: #2D475E;
  --accentcolor2: #EE6C4D;
  --accentcolor2-darker: #D85F46;
  --accentcolor3: #E0FBFC;
  --accentcolor3-darker: #B2E3E8;
  --font-smaller: 0.75rem;
  --font-small: 0.875rem;
  --font-base: 1rem;
  --font-large: 1.5rem;
  --font-larger: 2rem;
  --font-really-large: 2.6rem;
  
}

body {
  background-color: var(--accentcolor3);
  font-family: Poppins;
  margin: 0;
  overflow: hidden
}

.header-footer {
  background-color: var(--accentcolor1);
  min-width: 100%;
  min-height: 80px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  position: sticky;
}

.header {
  position: sticky;
  top: 0;
}

.header-text {
  margin-left: 30px;
  font-size: var(--font-really-large);
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-content {
  display: flex;
  justify-content: center;
}

.main-content.list_editor {
  display: flex;
  justify-content: space-between;
}

.detail-entry {
  width: 500px;
  min-height: 500px;
  margin-top: 5%;
  background-color: var(--accentcolor3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 5px solid var(--accentcolor1);
  border-radius: 30px;
}


#account-circle {
  margin-top: 50px;
  width: 200px;
}

#welcome-message {
  margin-top: 5%;
  font-size: var(--font-large);
  color: var(--accentcolor1);
  margin-bottom: 5% ;
}

.input {
  margin: 10px;
  border: 2px solid var(--accentcolor1);
  min-width: 280px;
  min-height: 50px;
  border-radius: 10px;
  background-color: var(--accentcolor3);
  padding: 10px;
  font-size: var(--font-base);
  color: black;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.5)
}



.drop-down {
  margin: 10px;
  width: 280px;
  height: 50px;
  background-color: var(--accentcolor3);
  border: 2px solid var(--accentcolor1);
  border-radius: 10px;
  padding: 10px;
  font-size: var(--font-base);
  color: black;
}

.drop-down.default {
  color: rgba(0, 0, 0, 0.5);
}

.drop-down.dark {
  background-color: var(--accentcolor1);
  border: 2px solid var(--accentcolor3);
  color: white;
}

.button {
  margin: 15px;
  width: 230px;
  height: 50px;
  background: var(--accentcolor3);
  border-radius: 25px;
  border: 5px solid var(--accentcolor2);
  color: var(--accentcolor2);
  font-size: var(--font-base);
  transition: 0.2 ease-in-out;
}

.button.small {
  width: 80px;
  height: 50px;
  margin: 10px;
}

.button.medium {
  width: 200px;
  height: 50px;
  margin: 10px;
}

.button.w260 {
  width: 260px;
}


.button.dark {
  background-color: var(--accentcolor1);
  color: white;
}

.button.no-margin {
  margin: 0px
}

.button:disabled {
  background-color: grey;
  border: none;
  color: white;
}

.button:enabled:hover {
  background-color: var(--accentcolor2);
  color: white;
  transform: scale(1.03);
}

.healthy-food-image {
  width: 20%;
  max-width: 700px;
  height: auto;
  bottom: 80px;
  position: absolute;
}

.image-bottom-left {
  left: 0;
  transform: scaleY(1);
}

.image-bottom-right {
  
  right: 0;

  transform: rotate();


}

.alert.alert-danger.weight {
  margin-top: 5px;
  margin-bottom: 10px;
  max-height: 25px;
  min-width: 280px;
  text-align: center;
  display: none;
  
  font-size: var(--font-base);
}

.alert.alert-danger.weight.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert.alert-danger.weight.inactive {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  
}
::-webkit-scrollbar-track {
  background: var(--accentcolor3);
  border: 1px solid var(--accentcolor1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--accentcolor2);
  border-radius: 10px;
  width: 8px;
}


::-webkit-scrollbar-thumb:hover {
  background: var(--accentcolor2-darker);
}



@media (max-height: 1300px) {
  .detail-entry {
    margin-top: 1%;
  }
  #account-circle {
    margin-top: 5%;
    width: 35%;
  }

  #welcome-message {
    margin-top: 3%;
    margin-bottom: 2.5% ;
  }
  
  .header-footer {
  min-height: 50px; }


  .button.medium {
    max-height: 40px;
    max-width: 150px;
    font-size: var(--font-small);
  }
  .input {
    min-height: 40px;
  }

  .healthy-food-image {
    bottom: 50px;
  }

  .button.w260 {
    margin: 5px;
  }
  .button.small {
    height: 30px;
    margin: 0%;
    font-size: var(--font-small);
    margin: 2px;
  }

  :root {
    --font-smaller: 0.75rem;
    --font-small: 0.85rem;
    --font-base: 1.2rem;
    --font-large: 1.40rem;
    --font-larger: 1.75rem;
    --font-really-large: 2.2rem;
    
  }
}

@media (max-height: 1150px) {
  :root {
    --font-smaller: 0.65rem;
    --font-small: 0.75rem;
    --font-base: 1rem;
    --font-large: 1.25rem;
    --font-larger: 1.5rem;
    --font-really-large: 2rem;
    
  }
}
