:root {
    --accentcolor1: #3D5A80;
    --accentcolor1-darker: #2D475E;
    --accentcolor2: #EE6C4D;
    --accentcolor2-ligther: #F6A48A;
    --accentcolor2-darker: #C6513A;
    --accentcolor3: #E0FBFC;
    --accentcolor3-darker: #B2E3E8;
    --font-smaller: 0.75rem;
    --font-small: 0.875rem;
    --font-base: 1rem;
    --font-large: 1.5rem;
    --font-larger: 2rem;
    --font-really-large: 2.6rem;
    
  }

  .filter-div {
    min-width: 280px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    border-right: solid 5px var(--accentcolor1);
  }


  .header-with-return {
    display: flex;
    margin-left: 10px;
    justify-content: left;
    align-items: center;
  }

  .grocery-list-div {
    min-width: 280px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    border-right: solid 5px var(--accentcolor1);
    transition: 0.2 ease-in-out;
  }

  .grocery-list-div.disabled {
    display: none;
  }

  .search-result-div {
    width: 100%;
    border-right: solid 5px var(--accentcolor1);
  }

  .total-values-div {
    min-width: 340px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    border-right: solid 5px var(--accentcolor1);
    transition: 0.2 ease-in-out;
  }

  .total-values-div.disabled {
    display: none;
  }
  .small-title {
    background-color: var(--accentcolor1);
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 220px;
    min-height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: var(--font-base);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .small-title.medium {
    width: 260px;
  }

  .small-title.w300 {
    width: 280px;
  }


  .small-title.contributing {
    border: 5px solid var(--accentcolor2);
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .small-title.wide {
    width: 320px;
  }

  .small-title.bright {
    background-color: var(--accentcolor1);
    border: 5px solid var(--accentcolor3);
    color: white;
  }

  .editor-column-div {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: var(--accentcolor1);
    border-radius: 10px;
    width: 240px;
    height: 84vh;
    max-height: 84vh;
    margin-bottom: 50px;
  }

  #top-contributors {
    overflow-y: scroll;
  }
  #added-items {
    overflow-y: scroll;
  }

  .editor-column-div.wide {
    width: 320px;
  }

  .editor-column-div.medium {
    width: 280px;
  }



  .range-slider {
    max-width: 200px;
    margin: 40px;
    margin-top: 10px;
  }

  .range-slider__thumb {
    background: var(--accentcolor2) !important;
  }

  .range-slider__thumb:hover {
    background: var(--accentcolor2-darker) !important;
  }

  .range-slider__range {
    background: var(--accentcolor3-darker) !important;
  }
  
  .input.small {
    min-width: 180px;
    max-width: 200px;
    margin: 10px;
    margin-top: 20px;
  }



  .drop-down.small {
    width: 200px;
    height: 50px;
    margin: 10px;
  }

  
  .filter-slider-label-and-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
  }

  .checkbox {
    cursor: pointer;
    margin-top: 15px;
  }
 

  .filter-slider-label {
    font-size: var(--font-base);
    color: white;
    margin-bottom: 5px;
    margin-top: 15px;
  }

  .range-legend {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: var(--font-small);
  }

  .slide-value {
    background-color: var(--accentcolor3);
    border: 2 px solid var(--accentcolor3);
    border-radius: 5px;
    color: black;
    font-size: var(--font-small);
    margin: 2px;
    padding: 0.2rem;
  }

  .grocery-item {
    display: flex;
    align-items: center;
    column-count: 3;
    width: 200px;
    height: 55px;
    border: 3px solid var(--accentcolor3);
    border-radius: 10px;
    margin: 10px;
    color: white;
    position: relative;

  }
  .grocery-item p {
    margin: 0;
    padding-left: 10px;
    height: 50px;
    flex-grow: 1;
    text-align: left;
    font-size: var(--font-base);
    overflow: hidden;
  }

  .grocery-item button {
    background-color: transparent;
    border: none;
    font-size: var(--font-larger);
    color: var(--accentcolor2);
    margin: 0;
    padding: 0;
    width: 25px;
    margin-left: 10px;
  }

  .grocery-item button:hover {
    color: var(--accentcolor2-darker);
  }

  .grocery-item .tooltiptext {
    display: hidden;
    width: 140px;
    background-color: var(--accentcolor1);
    color: #fff;
    text-align: left;
    padding-left: 10px;
    border-radius: 6px;
    font-size: var(--font-small);

    position: absolute;
    z-index: 20;
    bottom: -250%;
    left: 0;
    margin-left: 0;
    opacity: 0;
    transition: opacity 0.4s;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  }

.grocery-item:hover .tooltiptext {
  display: visible;
  opacity: 1;
}

  .day-number-changer {
    color: white;
    border: solid 5px var(--accentcolor3);
    width: 95%;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .day-number-changer.dark {
    background-color: var(--accentcolor1);
    border-radius: 10px;
    width: 95%;
    padding: 15px;
    margin: 10px;
    border: none;
  }

  .day-number-changer h2{
    font-size: var(--font-large);
    padding-left: 5px;
  }

  .daily-value-bar-div {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--accentcolor3);
  }

  .daily-value-bar-div.top {
    border-top: 2px solid var(--accentcolor3);
    padding-top: 5px;
  }
  .daily-value-bar-div.bottom {
    border: none;
    margin-bottom: 5px;
  }

  .daily-value-bar {
    width:100%;
  }
  .daily-value-bar progress{
    width: 100%;
    height: 30px;
    appearance: none;
  }

  .daily-value-bar progress::-webkit-progress-bar {
    background-color: var(--accentcolor3); 
    border-radius: 10px;
  }
  
  .daily-value-bar progress::-webkit-progress-value {
    background-color: var(--accentcolor2); 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

 
  .daily-value-bar.green progress::-webkit-progress-value {
    background-color: #678D58; 
  }

  .daily-value-bar.not-enough progress::-webkit-progress-value {
    background-color: #F9B5AC; 
  }

  .daily-value-bar.too-much progress::-webkit-progress-value {
    background-color: #BB342F; 
  }

  .daily-value-bar.max progress::-webkit-progress-value {
    background-color: #BB342F; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .bar-label{
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: space-between;
    color: white;
    font-size: var(--font-small);
  }

  .bar-label h4{
    font-size: var(--font-base);
  }

  .set-sort {
    background-color: var(--accentcolor1);
    width: 98%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 1%;
    border-radius: 10px;
    padding: 10px;
  }
  
  .results-grid-div {
    width: 98%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 300px; 
    margin-left: 1%;
    margin-right: 1%;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .search-result-element {
    height: 100%;
    width: 100%;
    background-color: var(--accentcolor1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--accentcolor3-darker);
    border-radius: 15px;
    line-height: normal;
    cursor: pointer;
    color: white;
    position: relative;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  }
  .search-result-element:hover {
    background-color: var(--accentcolor1-darker);
  }

  .search-result-element img {
    height: 120px;
    max-width: 150px;
    overflow: hidden;
    padding: 5px;
    border-radius: 5px;
  }

  .search-result-element h3 {
    margin-top: 5px;
    padding-left: 8px;
    font-size: var(--font-larger);
  }

  .search-result-element p {
    font-size: var(--font-base);
  }

  .sort-arrow {
    max-height: 30px;
    cursor: pointer;
    z-index: 10;
  }

  .sort-arrow:hover {
    fill: black;
  }

  .sort-arrow.up{
    transform: scaleY(1);
    transform-origin: center;
  }

  .sort-arrow.down {
    transform: scaleY(-1);
    transform-origin: center;
  }




.search-result-element .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: var(--accentcolor1);
  color: #fff;
  text-align: left;
  padding-left: 10px;
  border-radius: 6px;
  font-size: var(--font-base);

  position: absolute;
  z-index: 10;
  bottom: -25%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.4s;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.search-result-element:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}



  

  @media (max-height: 1250px) {


    .editor-column-div {
      width: 240px;
      max-height: 85vh;
      margin-bottom: 10px;
      
    }

    .small-title {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 220px;
      min-height: 40px;
      border-radius: 10px;
    }

    .input {
      min-height: 0;
    }
   
    .input.small {
      width: 200px;
      height: 40px;
      margin: 5px;
      font-size: var(--font-smaller);
      padding-left: 0.2rem;
    }

    .drop-down.small {
      width: 200px;
      font-size: var(--font-small);
      max-height: 40px;
      margin: 5px;
      padding: 5px;
    }
  
    .checkbox {
        margin-top: 10px;
        margin-bottom: 4px;
      }

      .range-slider {
        margin: 25px;
        margin-top: 10px;
      }
    
   
  
    .filter-slider-label {
      font-size: var(--font-small);
      color: white;
      margin-bottom: 4px;
      margin-top: 2px;
    }
  
    .range-legend {
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;
      font-size: var(--font-small);
    }
  
    .slide-value {
      background-color: var(--accentcolor3);
      border: 2 px solid var(--accentcolor3);
      border-radius: 5px;
      color: black;
      font-size: var(--font-smaller);
      margin: 2px;
      padding: 0.1rem;
    }

    .grocery-item {
      height: 50px;
      border: 3px solid var(--accentcolor3);
      border-radius: 10px;
      margin: 8px;
      color: white;

    }
    .grocery-item p {
      margin: 0;
      padding-left: 5px;
      padding-top: 2px;
      font-size: var(--font-base);
    }

    .results-grid-div {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-auto-rows: 250px; 
    }

    .daily-value-bar progress{
      height: 10px;
    }
    .day-number-changer h2{
      font-size: var(--font-base);
    }
    .button.small {
      font-size: var(--font-small);
      height: 15px;
    }
    .day-number-changer {
      border: 2px solid var(--accentcolor3);
      margin-top: 5px;
      margin-bottom: 0;
    }
    .daily-value-bar-div {
      margin-top: 5px;
      margin-bottom: 2px;
    }
    .bar-label h4{
      font-size: var(--font-base);
    }

    .search-result-element img {
      height: 120px;
      max-width: 150px;
      overflow: hidden;
      border-radius: 5px;
    }

    .search-result-element p {
      font-size: var(--font-large);
    }

    .total-values-div .editor-column-div.wide {
      overflow-y: scroll;
      overflow-x: hidden;
    }




  }




  @media (max-width: 1550px) { 

    .filter-div {
      min-width: 220px;
    }

    .grocery-list-div {
      min-width: 220px;
    }

    .editor-column-div {
      width: 200px;
    }

    .editor-column-div.wide {
      width: 230px;
    }

    .small-title {
      width: 180px;
    }

    .input.small {
      width: 180px;
      margin: 2px;
      margin-top: 4px;
    }

    .drop-down.small {
      width: 180px;
      margin: 2px;
    }
  
  
    .range-legend {
      width: 180px;
    }

    .range-slider {
      width: 180px;
    }

    .filter-slider-label {
      width: 180px;
    }

    .grocery-item {
      width: 180px;
    }

    .total-values-div {
      min-width: 250px;
    }
    .small-title.wide {
      width: 230px;
    }
  }
  