:root {
    --accentcolor1: #3D5A80;
    --accentcolor1-darker: #2D475E;
    --accentcolor2: #EE6C4D;
    --accentcolor2-ligther: #F6A48A;
    --accentcolor2-darker: #C6513A;
    --accentcolor3: #E0FBFC;
    --accentcolor3-darker: #B2E3E8;
    --font-small: 0.875rem;
    --font-base: 1rem;
    --font-large: 1.5rem;
    --font-larger: 2rem;
    --font-really-large: 2.6rem;
    
  }

  .filter-div {
    min-width: 280px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    border-right: solid 5px var(--accentcolor1);

  }


  .header-with-return {
    display: flex;
    margin-left: 10px;
    justify-content: left;
    align-items: center;
  }

  .grocery-list-div {
    min-width: 280px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    border-right: solid 5px var(--accentcolor1);
  }

  .search-result-div {
    width: 100%;
    border-right: solid 5px var(--accentcolor1);
  }

  .total-values-div {
    min-width: 340px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    border-right: solid 5px var(--accentcolor1);
  }

  .small-title {
    background-color: var(--accentcolor1);
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 220px;
    min-height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    font: var(--font-larger);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .editor-column-div {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: var(--accentcolor1);
    border-radius: 10px;
    width: 240px;
    max-height: 100%;
    min-height: 85%;
    margin-bottom: 50px;
  }



  .range-slider {
    max-width: 200px;
    margin: 40px;
    margin-top: 10px;
  }

  .range-slider__thumb {
    background: var(--accentcolor2) !important;
  }

  .range-slider__thumb:hover {
    background: var(--accentcolor2-darker) !important;
  }

  .range-slider__range {
    background: var(--accentcolor3-darker) !important;
  }
  
  .input.small {
    min-width: 180px;
    max-width: 200px;
    margin: 20px;
  }



  .drop-down.small {
    width: 200px;
    height: 50px;
    margin: 20px;
  }
  
  
  .filter-slider-label-and-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
  }

    .checkbox {
      cursor: pointer;
      margin-top: 15px;
    }
 

  .filter-slider-label {
    font-size: var(--font-base);
    color: white;
    margin-bottom: 5px;
    margin-top: 15px;
  }

  .range-legend {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: var(--font-small);
  }

  .slide-value {
    background-color: var(--accentcolor3);
    border: 2 px solid var(--accentcolor3);
    border-radius: 5px;
    color: black;
    font-size: var(--font-small);
    margin: 2px;
    padding: 0.2rem;
  }

  .grocery-item {
    display: flex;
    align-items: center;
    column-count: 3;
    width: 200px;
    height: 50px;
    border: 3px solid var(--accentcolor3);
    border-radius: 10px;
    margin: 10px;
    color: white;
    font-size: var(--font-base);
  }
  .grocery-item p {
    margin-top: 0 ;
    margin-bottom: 10px;
    padding-left: 5px;
    margin-inline: 2px;
    flex-grow: 1;
    text-align: left;
  }

  .grocery-item button {
    background-color: transparent;
    border: none;
    font-size: var(--font-larger);
    color: var(--accentcolor2);
    margin: 0;
    padding: 0;
    width: 25px;
    margin-left: 10px;
  }

  .grocery-item button:hover {
    color: var(--accentcolor2-darker);
  }