:root {
    --accentcolor1: #3D5A80;
    --accentcolor1-darker: #2D475E;
    --accentcolor2: #EE6C4D;
    --accentcolor2-ligther: #F6A48A;
    --accentcolor2-darker: #C6513A;
    --accentcolor3: #E0FBFC;
    --accentcolor3-darker: #B2E3E8;
    --font-smaller: 0.75rem;
    --font-small: 0.875rem;
    --font-base: 1rem;
    --font-large: 1.5rem;
    --font-larger: 2rem;
    --font-really-large: 2.6rem;
    
  }

  .top-contributor-div {
    background-color: var(--accentcolor3);
    min-height: 100vh;
    min-width: 300px;
    display: flex;
    border-right: 5px solid var(--accentcolor1);
    flex-direction: column;
    justify-content: top;
    align-items: center;
  }

  .top-contributor-div.right {
    border-right: none;
    border-left: 5px solid var(--accentcolor1)
  }

  .contributing-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 240px;
    height: 50px;
    border: 3px solid var(--accentcolor3);
    border-radius: 10px;
    margin: 5px;
    color: white;
    font-size: var(--font-base);
  }

  .custom-value-setter-div {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    font-size: var(--font-large);

  }

  .custom-value-button {
    background-color: transparent;
    border: none;
    color: var(--accentcolor2);
    font-size: 48px;
    transition: 0.2 ease-in-out;
  }

  .custom-value-button:hover {
    color: var(--accentcolor2-darker);
    transition: scale(1.1);
  }

  .stats-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: left;
    overflow: hidden;
    height: 90vh;
    overflow-y: auto;
    width: 100%;
  }

  .spider-graph-div {
    margin-top: 10px;
    border: 5px solid var(--accentcolor1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 480px;
    min-height: 480px;
    overflow-y: hidden;
    overflow-x: hidden;
    max-width: 600px;
    padding: 0;
    text-align: center;
   }
  .spider-graph-div h4 {
    padding-top: 10px;
    margin: 0;
    font-size: var(--font-large);
  }

  .card-container {
    width: 90%;
    display: flex;
    align-items: top;
    justify-content: center;
    flex-direction: column;
  }

  .nutrition-card {
    background-color: var(--accentcolor1);
    border-radius: 10px;
    width: 95%;
    padding: 15px;
    position: relative;
    margin: 10px;
  }

  .nutrition-card-title {
    margin-right: 15px;
    color: white;

  }

  .card-text {
    text-align: left;
    display: none;
    background-color: var(--accentcolor3);
    border: 5px solid var(--accentcolor2);
    border-radius: 15px;
    margin-top: 10px;
    padding: 5px;
  }
  .card-text .container{
    display: flex;
    align-items: center;
    justify-content: right;
  }
 
  .nutrition-card.open .card-text {
    display: block;
  } 
  .card-toggle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    top: 20px;
    right: 30px;
    background-color: var(--accentcolor3);
    color: white;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: 0.2 ease-in-out;
  }

  .card-toggle:hover {
    transform: scale(1.05);
  }

  .card-toggle .x-icon {
    display: none;
  }

  .card-toggle .chevron {
    display: block;
  }

  .nutrition-card.open .card-toggle .x-icon {
    display: block
  }

  .nutrition-card.open .card-toggle .chevron {
    display: none
  }
  
  .target-setter-page .small-title.w300 {
    display: none 
  }

  .target-setter-page .editor-column-div {
    margin-top: 15%;
    height: 60%;
    align-items: center;
    justify-content: center;
    background-color: var(--accentcolor3);
    border: solid 5px var(--accentcolor1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
  }

  .target-setter-page .custom-value-setter-div {
    color: black;
  }

  @media (max-height: 1250px) {
    .card-container {
      max-width: 100%;
    }
    .custom-value-button {
      font-size: 34px;
    }
  }

